body{
	width: 100%;
	min-height: 100vh;
	background-color: #eee;
}

.content{
	margin: 50px auto;
	width: 90%;
	background-color: #fcc;
	&>*{
		margin-left: auto;
		margin-right: auto;
	}
	.controls {
		background-color: #faa;
		text-align: center;
		padding: 5px;
		button{
			width: 100px;
			margin: 10p;
			border-radius: 5px;
			font-size: 1.2em;
		}
	}
	table{
		margin-top: 20px;
		border: 2px solid #888;
		border-collapse: collapse;
		th, td{
			border: 1px solid #888;
		}
	}
}

